In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Shots

In [2]:
england_shots = pd.read_csv('/Users/kar/Documents/sagb_inrto_project/England/Csvs/England_shots.csv')

In [3]:
england_sd = england_shots.groupby('matchId').agg(
    shots_array=('eventMin', list),
    total_shots=('eventMin', 'count'),
    late_game_shots=('eventMin', lambda x: (x >= 60).sum()),
)

In [4]:
england_sd['late_game_density'] = england_sd['late_game_shots'] / england_sd['total_shots']

In [5]:
england_sd.to_csv('/Users/kar/Documents/sagb_inrto_project/England/Csvs/England_sd.csv', index=True)

In [6]:
england_sd.head()

,shots_array,total_shots,late_game_shots,late_game_density
matchId,,,,
2499719,"[1.6, 3.0, 4.2, 7.1, 13.6, 21.4, 21.7, 25.8, 2...",34,14,0.411765
2499720,"[3.2, 8.9, 13.2, 33.3, 33.3, 44.6, 45.0, 47.1,...",18,2,0.111111
2499721,"[3.0, 10.7, 23.2, 33.0, 38.6, 40.4, 42.2, 44.1...",24,9,0.375000
2499722,"[1.7, 17.0, 19.8, 25.1, 27.2, 31.9, 36.6, 41.5...",19,5,0.263158
2499723,"[12.1, 14.5, 14.6, 19.8, 23.8, 34.1, 34.9, 45....",18,7,0.388889

## Fouls

In [10]:
england_fouls = pd.read_csv('/Users/kar/Documents/sagb_inrto_project/England/Csvs/England_fouls.csv')

In [11]:
england_fd = england_fouls.groupby('matchId').agg(
    shots_array=('eventMin', list),
    total_shots=('eventMin', 'count'),
    late_game_shots=('eventMin', lambda x: (x >= 60).sum()),
)

In [12]:
england_fd['late_game_density'] = england_fd['late_game_shots'] / england_fd['total_shots']

In [13]:
england_fd.to_csv('/Users/kar/Documents/sagb_inrto_project/England/Csvs/England_fd.csv', index=True)

In [14]:
england_fd.head()

,shots_array,total_shots,late_game_shots,late_game_density
matchId,,,,
2499719,"[0.9, 3.4, 11.8, 15.3, 17.5, 18.7, 24.2, 24.8,...",21,6,0.285714
2499720,"[15.8, 18.8, 26.4, 30.4, 38.0, 40.3, 43.2, 43....",15,7,0.466667
2499721,"[2.0, 9.3, 13.0, 15.2, 15.9, 18.6, 28.7, 37.9,...",27,12,0.444444
2499722,"[0.3, 3.9, 6.5, 7.7, 9.3, 11.3, 13.9, 15.4, 20...",26,9,0.346154
2499723,"[3.5, 13.3, 14.0, 15.5, 17.3, 25.8, 28.6, 31.8...",23,7,0.304348